[IMAP-1143]
local_address = 0.0.0.0
local_port = 1143
server_address = outlook.office365.com
server_port = 993

[fawadhalim@outlook.com]
permission_url = https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode
token_url      = https://login.microsoftonline.com/consumers/oauth2/v2.0/token
oauth2_scope   = https://outlook.office.com/IMAP.AccessAsUser.All offline_access
oauth2_flow    = device
client_id      = 9e5f94bc-e8a4-4e73-b8be-63364c29d753
